<div class="container pt-0">
  <form [formGroup]="reviewForm" (ngSubmit)="submitReview()" class="p-fluid">
    <div class="p-field mb-3 flex flex-column gap-2">
      <label for="title">Review Title</label>
      <input type="text" id="title" pInputText class="p-inputtext-lg" formControlName="title"
        [class.p-invalid]="f['title'].invalid" required>
      <small class="p-invalid" *ngIf="f['title'].invalid && f['title'].touched">Review Title is
        required</small>
    </div>

    <div class="p-field mb-3 flex flex-column gap-2">
      <label for="username">Name</label>
      <input type="text" id="username" class="p-inputtext-lg" pInputText formControlName="username"
        [class.p-invalid]="f['username'].invalid" required>
      <small class="p-invalid" *ngIf="f['username'].invalid && f['username'].touched">User Name is required</small>
    </div>

    <div class="p-field my-5 flex flex-column gap-2">
      <p-rating id="rating" [stars]="10" formControlName="rating" [class.p-invalid]="f['rating'].invalid"
        required></p-rating>
      <small class="p-invalid" *ngIf="f['rating'].invalid && f['rating'].touched">Rating is required</small>
    </div>

    <div class="p-field mb-5 flex flex-column gap-2">
      <label for="message">Comment</label>
      <textarea id="message" pInputTextarea rows="16" cols="30" formControlName="message"
        [class.p-invalid]="f['message'].invalid" required></textarea>
      <small class="p-invalid" *ngIf="f['message'].invalid && f['message'].touched">Comment is required</small>
    </div>

    <button type="submit" pButton label="Submit Review" [disabled]="reviewForm.invalid"></button>
  </form>

</div>